/code/biz/core/.settings
/code/biz/core/target
/code/biz/core/.classpath
/code/biz/core/.project
/code/biz/common/.classpath
/code/biz/common/.project
/code/biz/common/.settings
/code/biz/common/target
/code/web/common/.classpath
/code/web/common/.project
/code/web/common/.settings
/code/web/common/target
/code/web/inter/target
/code/web/inter/.classpath
/code/web/inter/.project
/code/web/inter/.settings
/code/deploy/target
/code/deploy/.classpath
/code/deploy/.project
/code/deploy/.settings
/code/bundle/war/.classpath
/code/bundle/war/.project
/code/bundle/war/.settings
/code/bundle/war/target
